body{
    background-color: aquamarine;
    margin: 0;
    
    
}
nav{
    background-color: rgb(13, 153, 20);
    height: 40px;
    width: 100%;
    
    text-decoration: none;
    
}
.nav-bar{
    color: red;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 0;
    
}
.site-name{
    color: white;
    float: left;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px; 

    
}
li{
    margin: 15px 5px;
    text-transform: uppercase;
   
}
a:hover{
    color: white
}
a{
    text-decoration: none;
    color: yellow
}
#search-me{
    margin: 300px 10px 200px 20px;
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 30px;
}
#search-button{
    margin: 2px;
    font-size: 30px;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
#search-button:hover{
    background-color: white;
    color: black;
}
#footer{
    background-color: grey;
    margin: 0 auto;
}

