html, body{
    font-size: 13px;
    font-weight: 400px;
    line-height: 25px;
}
body{
    background-color: white(96, 128, 165);
    margin-left: 0.90cm;
    margin-right: 0.90cm;
    
}
#top-corner{
    background-color: rgb(240, 240, 240);
    border-top: 0.1cm solid brown;
    padding: 8px ;
    border: 0px, 5px, 5px 5px;
    
}
#unilag-logo{
    width: 100px;
    height: 100px;
    margin: 20px;

}

#login-details{
    float: right;
}
#log-in-instruction{
    font-size : 16px;
    font-family: "Open Sans",sans-serif;
    display: block;
    text-align: right;
    background-size: cover;
    position: relative;
    color: #555;
    padding-top: 25px;
    text-shadow: none!important
}
#student-login{
    background-color: #f2f2f2;
    margin: 0 0 2px 4px;
    color: #555;
    border: 1px solid #e0e0e0;
    box-shadow: none;
    padding: 6px 18px;
    border-radius: 2px;
    text-shadow: none;
    font-size: 1.08em;

}
.btn{
    display: inline-block;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Open Sans",sans-serif

}
#staff-login{
    margin: 0 0 2px 4px;
    background-color:#f2f2f2;
    color: #555;
    box-shadow: none;
    padding: 6px 18px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    font-size: 1.08em;
}
a :visited{
    color: red;
}